@{
    Layout = "_BasicLayout";
}

<nav>
    <ul>
        <li><a class="reports" a asp-controller="Administrator" asp-action="StartAdministrator">Start(Användare)</a></li>
        <li><a class="reportAdd" a asp-controller="Administrator" asp-action="AddUser">Ny användare</a></li>
        <li class="right"><a class="logout" a asp-controller="Home" asp-action="Index">Logga ut</a></li>
    </ul>
</nav><!-- End Nav -->

<div id="content">
    @RenderBody()
