@{
    Layout = "_BasicLayout";
}

<nav>
    <ul>
        <li><a class="reports" a asp-controller="Coordinator" asp-action="StartCoordinator">Start(Ärenden)</a></li>
        <li><a class="reportAdd" a asp-controller="Coordinator" asp-action="ReportCrime">Rapportera brott</a></li>
        <li class="right"><a class="logout" a asp-controller="Home" asp-action="Logout">Logga ut</a></li>
    </ul>
</nav>

<div id="content">
    @RenderBody()
